@model IEnumerable<TuristickaAgencija.Models.Ponuda>

@{
    ViewData["Title"] = "Ponude";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ponude</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sezona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumOd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumDo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sezona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumOd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumDo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
