@model TuristickaAgencija.Models.Smestaj

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalji</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrojKreveta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrojKreveta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aranzman)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aranzman.Mesto)
        </dd>
    </dl>
</div>
<a asp-action="DodajPrevoz" asp-route-smestajId="@Model.Id">Dodaj prevoz</a>
<table class="table">
    <thead>
        <tr>
            <th>
                Tip prevoza
            </th>
            <th>
                Cena
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Prevozs.Any())
        { 
            foreach(var item in Model.Prevozs)
                {
                    <tr>
                        <td>
                            @item.VrstaPrevoza
                        </td>
                        <td>
                            @item.Cena e
                        </td>
                    </tr>
                }
        }
    </tbody>
</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Izmeni</a> |
    <a asp-action="SmestajUaranzmanu" asp-route-aranzmanId="@Model.AranzmanId">Nazad</a>
</div>
