@model TuristickaAgencija.Models.Aranzman

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalji aranzmana</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrojDana)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrojDana)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Popust)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Popust)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ponuda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ponuda.Sezona)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Izmeni</a> |
    <a asp-action="Index">Nazad</a>
</div>
