@model TuristickaAgencija.Models.Rezervacija

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalji</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Smestaj)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Smestaj.Tip)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prevoz)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prevoz.VrstaPrevoza)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Smestaj.Aranzman.Mesto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Smestaj.Aranzman.Mesto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Smestaj.Aranzman.BrojDana)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Smestaj.Aranzman.BrojDana)
        </dd>
        <dt class="col-sm-2">
            Ukupna cena
        </dt>
        <dd class="col-sm-10">
            @{ var cena = (Model.Smestaj.Cena * Model.Smestaj.Aranzman.BrojDana + Model.Prevoz.Cena);
                var popust = cena * (Model.Smestaj.Aranzman.Popust / 100);
                var ukupnaCena = cena - popust;}
            @ukupnaCena
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Nazad</a>
</div>
